{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .hidden-form {
        display: none;
    }
</style>
<div class="d-flex border-bottom mb-4">
    <h1 class="h2">{{ title }}</h1>
</div>
<a href="{% url 'order_list' %}" class="btn btn-outline-secondary">Back to List</a>
{% include '../form_messages.html' %}
<div class="w-50 my-3">
<form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
</div>
{% if order != None %}
<div class="d-flex border-bottom mb-4">
    <h3 class="h3">Order Items</h3>
</div>
<button type="button" id="add-order-items" class="btn btn-outline-secondary" {% if order is None %} disabled="disabled" {% endif %}>Add Items</button></p>
<div class="w-50">
    <form enctype="multipart/form-data" method="POST">
        {{ formset.management_form|crispy }}
        {% csrf_token %}
        {% for form in formset %}
            {{ form|crispy }}
        {% endfor %}
        <input type="submit" value="Save" id="orderitem-btn" class="btn btn-primary" />
    </form>
    <div class="hidden-form">
        {{ formset.empty_form|crispy }}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#add-order-items').on('click', function () {
            let new_fields = $('.hidden-form').clone(true);
            let total_rows = Number($('#id_form-TOTAL_FORMS').val())
            const regex = new RegExp('__prefix__', 'g')
            new_fields.html(new_fields.removeClass('hidden-form').html().replace(regex, total_rows));

            $('#orderitem-btn').before(new_fields);
            $('#id_form-TOTAL_FORMS').val(total_rows + 1)
        });

    });
</script>
{% endif %}
{% endblock content %}