{% extends 'main.html' %}

{% block content %}
<a href="{% url 'create_order' %}">Create Order</a>
<h1>{{ title }}</h1>
{% for order in page_obj %}
<p><a href="{% url 'edit_order' order.id %}">{{ order.issued_to.username }} order -- {{ order.item_count }} item(s)</a></p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}