{% extends 'main.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% include '../form_messages.html' %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <p><button type="button" id="add-device-attr">Add Device Attribute</button></p>
    <div class="device-attributes">

    </div>
    <input type="submit" value="Save" />
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $('#add-device-attr').on('click', function () {
            $('.device-attributes').append(`
                <p class="attr-group">Name: <input type="text" name="attr_name[]" value="" />
                 Value: <input type="text" name="attr_value[]" value="" /> <a href="#">remove</a></p>`);
        });

        $('body').on('click', '.attr-group a', function () {
            $(this).parent().remove();
        });
    });
</script>
{% endblock content %}